<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.student.student_demo.dao.StudentVOMapper">

    <select id="getList" resultType="StudentVO">
        select s.* ,c.name as className from student s , classes c where c.id=s.classId
    </select>
    <insert id="add" parameterType="StudentVO">
        insert into student(name,age,gender,telephone,email,classId)
        value (#{name},#{age},#{gender},#{telephone},#{email},#{classId})
    </insert>

</mapper>
